$menuBG: $primary-color;
$menuTextColor: $white;
$menuHeight: 50px;
$menuHoverBorderColor: $secondary-color;
$colorLinkSubMenu: "#666";



.menuheader {

  .master-submenu{
    position: relative;
    .content-item{
      padding: 0 !important;
      a{
        border: 1px solid #CACACA;
        display: block;
        color: #848484 !important;
        font-weight: bold;
        background: #F8F8F8;
        &:hover{
          background: $white;
          border-right-color: transparent;
          color: #848484 !important;
        }
        
      }
      .submenu-itens{
        display: none;
        border: 1px solid #CACACA;
        background: $white;
        height: 100%;
        width: 100%;
        position: absolute;
        right: 0;
        top: 0;
      }
      &:hover{
        .submenu-itens{
          display: block;
        }
      }
    }
  
    
}

  background-color: $menuBG;
  min-height: auto;
  width: 100%;
  text-align: center;
  /*Sub Classes*/
  .ui.menu {
    background: transparent;
    background-color: transparent;
    border: 0px;
    box-shadow: none;
    display: flex;
    font-weight: 400;
    min-height: auto;
    flex-wrap: wrap;
    margin:0;
    li {
      &:hover,
      &.active,
      &:focus {
        // box-shadow: inset 0 -5px 0 $menuHoverBorderColor;
        > .item {
          font-weight: bold;
        }
        }
      > .item {
        word-wrap: normal;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          margin:0;
          font-size: 14px;
          line-height: normal;
          padding: 15px 10px;

          &:before{
            display: none;
          }
            
        
        > .icon.dropdown {
          line-height: 18px;
          color: rgba(0,0,0,0.3);
          margin:0em 0em 0em 0.5em;
          }
        > .icon.content {
          font-size: 26px;
          line-height: 1;
          margin-right: 15px;
          }
        .menu {
          border-radius: 0px !important;
          margin-top: 0px !important;
          z-index: 10;
          .item {
            line-height: 18px;
            &:hover,
            &.active,
            &:focus {
              box-shadow: none !important;
              }
            }
          .menu {
            box-shadow: none;
            }
            
          }
        }
      }
      .header {
        a {
          color:$colorLinkSubMenu;
          font-size:14px;
          font-weight: 300;
        }
      }
    }
  .ui.menu .item {
    color: $menuTextColor;
    line-height: $menuHeight;
    padding-bottom: 0px;
    padding-top: 0px;
    }
  .ui.menu .item:hover,
  .ui.menu .item.active {
    color: $menuTextColor;
    
    }
  .sub-megamenu {
    .ui.link.list {
      .item {
        color: rgba(0, 0, 0, 0.7);
        margin: 0.5em 0px;
        padding-left: 10px;
        }
      }
    }
  .ui.menu > .item:first-child,
  .ui.menu > .item:last-child {
    border-radius: 0px;
    }
  .ui.list {
    
    h4 {
      font-weight: normal;
    }
    .item {
      color: rgba(0, 0, 0, .7);
      padding-left: 10px !important;
      &:hover,
      &.active,
      &:focus {
        color: rgba(0, 0, 0, .9);
        transition: opacity 0.3s ease-in-out;
        }
      }
    }
  }
/* Mega Menu Start */
@import "wsmenu/style";
/* MegaMenu End */