/* Breadbrumbs */
.breadcrumbs {
	h1 {
		margin: 0;
		font-size: 1.5em;
	}
}

.ui.breadcrumb {
	color:$black-theme;
	font-size:14px;
	background: transparent;
	a {
		color:#666666;
	}
	padding: 0;
	
	li {
		display: inline-block;
	}
}