//Font
$body-font-size: 14px;
$import-google-fonts: false;
$font-url: 'https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin,latin-ext';
$font-name: 'Lato';
$font-family: $font-name, 'Helvetica Neue', Arial, Helvetica, sans-serif;

$font-gudea:'Gudea', sans-serif;
$font-playfair:'Playfair Display', serif;
$font-raleway:'Raleway', sans-serif;
$font-noto: 'Noto Sans', sans-serif;

body{
    font-family:$font-noto;
    font-size: 16px;
    ul,li,ol{
        font-size: 16px;
    }
}
p{
    font-size:16px;
    span{
        font-size:16px;
    }
}
h1,h2,h3,h4,h5,h6{
    font-family:$font-gudea;
    *{
        font-family:$font-gudea;
    }
}
